log
.DS_Store
.vagrant
.sass-cache
.bundle
config/unicorn.rb
config/database.yml
config/settings.yml
config/newrelic.yml
current
.rbenv-vars
.idea/
public/docs/*
config/oauth.yml
config/ripple.yml
vendor/bundle
*.swp
tmp/**
